.hidden {
  display: none;
}

.btn-admin {
  float: right;
}

.btn-portfolio-admin {
  text-align: right;
  margin-left: 810px;
}

.inline-block {
  display: inline-block;
}

.btn-edit-admin {
  color: #000 !important;
  text-decoration: none;
}
