.hidden {
  display: none;
}

.btn-admin {
  float: right;
}

.btn-portfolio-admin {
  text-align: left;
}

.inline-block {
  display: inline-block;
}

.btn-edit-admin {
  color: #000 !important;
  text-decoration: none;
}

.edit-img {
  width: auto;
  height: 230px;
}

.main-img {
  width: cover;
  height: 180px;
}

.detailed-img {
  width: 600px;
  height: auto;
}
