<div class="container">
  <div class="card mt-4 mx-auto">
    <div class="card-header">
      Наши контакты
      <div class='btn-admin'>
        {{#if isAuth}}
        <a href="/contacts/edit" class="btn btn-primary mt-4">Edit</a>
        {{/if}}
      </div>
    </div>
    <div class="card-body mx-auto">
      <p class="card-text mt-4">
        {{contact.name}}
      </p>
      <p class="card-text mt-4">
        Наш телефон: {{contact.tel}}
      </p>
      <p class="card-text mt-4">
        Наш адрес электронной почты: {{contact.email}}
      </p>
      <p class="card-text mt-4">
        Наш адрес: {{contact.address}}
      </p>
    </div>
  </div>
</div>
