<div class="container">
<div class="card mt-4 mx-auto">
  <div class="card-header">
    {{houses.name}}
  </div>
  <div class="card-body mx-auto">
    <img class="rounded mt-5 text-center img-fluid" src="{{houses.images}}" class="img-fluid" alt="">
    <p class="card-text mt-4">{{houses.description}}</p>
    <div class="price mt-2">Price: $100,000.00</div>
    <a href="#" class="btn btn-primary mt-4">Оставить заявку</a>
  </div>
</div>
</div>

