<div class="container">
  <div class="card mt-4 mx-auto">
    <div class="card-header">
      Log in
    </div>
    <div class="card-body mx-auto">
      <form id='signin' method='POST' action="/admin/login" class='block w-100 mar-b-1'>
        {{!-- <div class="form-group">
          <input name='username' type="text" placeholder="Ваше имя" class="block w-100 form-control">
        </div> --}}
        <div class="form-group">
          <input name='email' type="email" placeholder="Email" class="block w-100 form-control">
        </div>
        <div class="form-group">
          <input name='password' type="password" placeholder="Пароль" class=" block w-100 form-control">
        </div>
        <button id='submitButton' type="submit" class="block w-100 btn btn-primary">Авторизоваться</button>
      </form>
    </div>
  </div>
</div>
