<div class="container mx-auto">
<div class="header mx-auto mt-5">Наши работы:</div>
<div class="row mx-auto"> 

  <div class="col-lg-4">
    <div class="card mt-4 mx-auto" style="width: 18rem;">
    <a href="#exampleModal" data-toggle="modal" data-target="#exampleModal">
    <img src="https://images.unsplash.com/photo-1591474200742-8e512e6f98f8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="img1.jpg">
     </a>
    
    </div>
  </div>

  <div class="col-lg-4">
    <div class="card mt-4 mx-auto" style="width: 18rem;">
    <a href="/houses/detailed">
    <img src="https://images.unsplash.com/photo-1591474200742-8e512e6f98f8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="img1.jpg">
     </a>
    
    </div>
  </div>

  <div class="col-lg-4">
    <div class="card mt-4 mx-auto" style="width: 18rem;">
    <a href="/houses/detailed">
    <img src="https://images.unsplash.com/photo-1591474200742-8e512e6f98f8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="img1.jpg">
     </a>
    </div>
  </div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <a href="#exampleModal" data-toggle="modal" data-dismiss="modal">
        <img src="https://images.unsplash.com/photo-1591474200742-8e512e6f98f8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" class="card-img-top" alt="img1.jpg">
        </a>
      </div>
    
    </div>
  </div>
</div>

   
    </div>
  </div>
