<div class="container">
  <div class="card mt-4 mx-auto">
    <div class="card-header">
      <div class='btn-admin'>
        <a href="#" class="btn btn-primary mt-4">Edit</a>
      </div>
    </div>
    <div class="card-body mx-auto">

      <p class="card-text mt-4">
      <h1>Спасибо! Мы с вами свяжемся!</h1>
      </p>



    </div>
  </div>
</div>
