<div class="container">
  <div class="card mt-4 mx-auto">
    <div class="card-header">
      О нас
      {{#if isAuth}}
     
      {{/if}}
    </div>
    <div class="card-body mx-auto">

<p class="card-text mt-4">Миссия строительной компании Life Trend House: мы предлагаем лучшие готовые решения в области строительства современных легковозводимых надежных теплосберегающих домов и других строений нового времени, которые отвечают стандартам высокого качества, являясь образцом трендовой архитектурной стилистики, практичности, красоты и уюта для загородной комфортной жизни.

      <p>С нами загородная жизнь становится доступной, легкой и просто приносящей радость.</p> 
      
      
      
      </p>
  <div class="row d-flex justify-content-center mx-auto mt-4">

    
 
    <div class="col-lg-2 mx-auto ">
      <div id="avatar1"></div>
      
        <p class="font-weight-bold mt-4">Елена Швайцер</p>
        <p class="title">Генеральный директор</p>
        
       
       
     
    
    </div>

  
    <div class="col-lg-2 mx-auto">
      <div id="avatar2"></div>
      
        <p class="font-weight-bold mt-4">Вадим Швайцер</p>
        <p class="title">Основатель компании</p>
       
 
    
  </div>
</div>


    </div>
  </div>
</div>
