<div class="container">
  <div class="card mt-4 mx-auto">
    <div class="card-header">
      О нас
      {{#if isAuth}}
     
      {{/if}}
    </div>
    <div class="card-body mx-auto">

      <p class="card-text mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae placeat, rerum a quod
        dolorem nisi aut voluptatem unde, eos, facilis sunt voluptates voluptatibus? Ducimus laborum similique, nobis
        fugit quis maxime?</p>

    </div>
  </div>
</div>
